<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <InputFolder>/root/input</InputFolder>
  <OutFolder>/root/output/</OutFolder>
  <DataFile>ReferenceData.xml</DataFile>
  <Logging>
    <LogLevel>
      <Default>Information</Default>
      <Microsoft>Warning</Microsoft>
    </LogLevel>
  </Logging>
</configuration>
